@import "variables";

@mixin toolbar($width) {
    :global(.call-us-toolbar){
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            width: $width;
            height: $width;
        }
    }
}
