/// Colors
$form-header-background: var(--call-us-form-header-background, #293239);
$dialer-background: var(--call-us-dialer-background, #1b2126);
$header-text-color: var(--call-us-header-text-color, white);

$border-color: var(--call-us-border-color, darkgray);

$font-size-small: var(--call-us-font-size-small, 12px);
$font-size-large: var(--call-us-font-size-large, 16px);

$form-width: var(--call-us-form-width, 250px);
$form-border-radius: 6px;

$button-bounce: scale(0.95);
$main-button-background: var(--call-us-main-button-background, #467BF0);
$main-button-color: var(--call-us-main-button-color, white);

$padding: 6px;