@import "../variables";

//.button-expand {
//    position: absolute;
//    width: 80px;
//    height: 80px;
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    opacity: 0.5;
//    z-index: 1;
//    margin: auto;
//}

.button-main {
    fill: $main-button-color;
    background: $main-button-background;
}

.button-default {
    fill: $main-button-color;
    background: #333;
}

.button-end-call {
    svg {
        transform: rotate(135deg);
    }
    fill: white;
    background: red;
}

.awayVideo {
    width: 100%;
    height: inherit
}

.homeVideo {
    max-width: 256px;
    width: 25%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.mirrorVideo {
    transform: rotateY(180deg);
}

.root {
}
